body,html {
    background-color: #eaeaea;
    color: #303233;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.container {
    background: #FFFFFF;
}
.m-top-60 {
    margin-top: 60px;
}
.google-chart,
img {
    margin-top: 40px;
    margin-bottom: 30px;
}
img.max-w-30per {
    max-width: 33%;
}
.ion-pie-graph,
.ion-stats-bars {
    font-size: 86px;
}
.m-left-30 {
    margin-left: 30px;
}
a {
    color: #494a43;
}
a:hover, a:focus {
    color: #303233;
    text-decoration: none;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #b9b9b9;
}